<?xml version="1.0" encoding="UTF-8"?>
<Project>

    <PropertyGroup>
        <!-- Core -->
        <Configuration>Release</Configuration>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishDir>./builds/windows/</PublishDir>

        <!-- Single-file -->
        <PublishSingleFile>true</PublishSingleFile>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>

        <!-- Debug stripping -->
        <DebugType>none</DebugType>
        <DebugSymbols>false</DebugSymbols>
        <GenerateDebugInformation>false</GenerateDebugInformation>

        <!-- Performance -->
        <PublishReadyToRun>true</PublishReadyToRun>
        <ServerGarbageCollection>False</ServerGarbageCollection>
        <TieredCompilation>true</TieredCompilation>

        <!-- Build determinism -->
        <ContinuousIntegrationBuild>true</ContinuousIntegrationBuild>
        <Deterministic>true</Deterministic>

    </PropertyGroup>

</Project>